<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link href="./CSS/loginstyle.css" rel="stylesheet" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
  </head>
  <body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
          <img
            src="https://ee.co.uk/content/eeb-site/en/small-business/connecting-your-business/mobileiron/_jcr_content/root/responsivegrid_88480_176914583/responsivegrid_1029552650/page_teaser.image.login_icon_16x9-320x240_trans.320.high.png"
            height="200px"
            id="icon"
            alt="User Icon"
          />
        </div>

        <!-- Login Form -->
        <form id="form">
          <input
            type="text"
            id="username"
            class="fadeIn second"
            name="login"
            placeholder="User Name"
          />
          <br />
          <input
            type="text"
            id="firstName"
            class="fadeIn second"
            name="login"
            placeholder="First Name"
          />
          <br />
          <input
            type="text"
            id="lastName"
            class="fadeIn second"
            name="login"
            placeholder="Last Name"
          />
          <br />
          <input
            type="email"
            id="email"
            class="fadeIn second"
            name="login"
            placeholder="Email"
          />
          <br />
          <input
            type="password"
            id="password"
            class="fadeIn second"
            name="login"
            placeholder="Password"
          />
          <br />
          <input
            type="tel"
            id="phone"
            class="fadeIn second"
            name="login"
            placeholder="Phone"
          />
          <br />
          <button type="submit" class="fadeIn fourth" id="registerButt">
            Register
          </button>
        </form>
      </div>
    </div>
  </body>
  <script src="./JS/register.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
</html>
